<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/custom.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>

{{!-- SINA: I changed {{body_class}} to post-template below --}}
<body class="post-template">

    <div class="site-wrapper">

        {{!-- ################################################################# --}}
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        <header class="site-header outer">
            <div class="inner">
                {{> "site-nav"}}
            </div>
        </header>

        <main id="site-main" class="site-main outer">
            <div class="inner py2">
                <p>
                    I led the development of Omadalabs, <a href='https://www.crunchbase.com/organization/omada-health', target='_blank'>Omada Health</a>'s data science platform.
                </p>

                <p>
                    I've worked on some things:

                    <ul>
                        <li class='pb1'>
                            I analyzed Soundcloud <a href='https://medium.com/@sinahab/the-programmers-guide-to-booking-a-concert-e048a580735f#.cfpixp73x', target='_blank'>data</a> to book a sold-out concert in San Francisco.
                        </li>

                        <li class='py1'>
                            I built an <a href='https://merklelabs.sh/' target='_blank'>analytics suite</a> to monitor ERC20 and Ether transactions on the Ethereum mainnet.
                        </li>

                        <li class='pt1'>
                            I built <a href='http://www.funkavinci.com/' target='_blank'>Discover Weekly for live music</a>.
                        </li>
                    </ul>
                </p>

                <p>
                    As a consultant, I have worked with organizations like Bitcoin Unlimited and Readme.io, and built:

                    <ul>
                        <li class='pb1'>
                            <a href='https://adoptanode.com/' target='_blank'>adoptanode.com</a>: spin up a Bitcoin full-node on AWS or Digital Ocean by sending Bitcoin to a QR code.
                        </li>
                        <li class='pt1'>
                            <a href='https://readme.io/' target='_blank'>Readme.io</a>: the trial to paid user conversion funnel for Readme.io.
                        </li>
                    </ul>
                </p>

                <p>
                    I come from a physics background and have had the good fortune of doing research at the Max Planck Institute, studying economics at Peking University, cofounding an online recruitment startup, and traveling in four continents.
                </p>

                <p>
                    Find me online on <a href='https://www.twitter.com/sinahab' target='_blank'>Twitter</a>, <a href='https://www.linkedin.com/in/sinahabibian' target='_blank'>Linkedin</a>, or say hi at sina at sinahab.com.
                </p>
            </div>
        </main>
        {{!-- ################################################################# --}}


        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
                <nav class="site-footer-nav">
                    <a href="{{@blog.url}}">Latest Posts</a>
                    {{#if @blog.facebook}}<a href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
                    {{#if @blog.twitter}}<a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
                    <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
                </nav>
            </div>
        </footer>

    </div>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
